.rUserTable {
	width: 620px;
	font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
	font-size: 14px;
}

.firstTd {
	width: 100px;
	vertical-align: top;
}

.firstTd img {
	border-color: rgb(149, 195, 234);
	border-style: solid;
	border-width: thin;
}

.addFriendMark a:hover {
	color: #f6ad36;
}